# Ignore all files
*

# Except ...

!plugins/
!plugins/VimMotions.plugin.js

!.github/
!.github/workflows/
!.github/workflows/release.yml

!.releaserc.json
!package.json
!package-lock.json

!scripts/
!scripts/build.js